recursive-include install *.sh README *.patch
recursive-include vsr *.css *.html *.js *.json *.php
recursive-include contrib *.sh *.py *.json *.html *sroomctl *sroompasswd *sroomusers
recursive-include examples *.py *.sh
